/*------ Global Settings ------*/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: grey
}

p {
    margin-bottom: 0.4em;
}

.background-pattern {
    background-image: url(/static/images/background.png);
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    z-index: -1;
}

.btn {
    font-size: 1em;
}

.message-container__message--text {
    background-color: #B8C4BB;
    text-align: center;
    margin: 0;
}

/*------ Body ------*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*------ Navbar ------*/

.nav-link {
    font-size: 1.2em;
}

.hero-image {
    background-image: url(/static/images/restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
    color: black
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: grey
}

.coloured-navbar-content .navbar-toggler .navbar-toggler-icon {
    color: black;
}

/*------ Footer ------*/

.footer .footer-icons a:hover {
    color: grey
}

.footer .footer-icons a {
    font-size: 2em;
    line-height: 1.5em;
    color: black;
    margin-right: 10px;
}

/*------ Menu Page ------*/

.menu-category {
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu-category .category {
    padding-left: 33px;
    font-weight: bold;
}

.menu-item span {
    font-size: 1.3em;
    font-weight: bold;
}

.menu-description,
.menu-item .menu-price {
    font-size: 1.2em;
}

.menu-price {
    font-weight: bold;
}

.menu-category hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-navigation {
    text-align: center;
    margin-top: 20px;
}

.menu-navigation button {
    margin-right: 10px;
    border-radius: 25px;
    background-color: rgb(232, 247, 238);
    padding: 8px 15px;
    border: 3px solid #B8C4BB;
    cursor: pointer;
}

.container .menu-title {
    text-align: center;
    margin-top: 20px;
}

.menu-item {
    list-style: none;
    /* Remove bullets */
    display: flex;
    justify-content: space-between;
    /* Align name and price */
    border-bottom: 2px solid #ddd;
    /* Add a border to create separation */
    margin-bottom: 5px;
    /* Adjust the margin for spacing */
    padding-bottom: 10px;
    /* Adjust padding for spacing */
}

.menu-item:last-child {
    border-bottom: none;
    /* Remove border for the last item */
}

/*------ Media Queries ------*/

@media (max-width: 750px) {
    .hero-image {
        background-image: url(/static/images/restaurant3.jpg);
    }
}