.coloured-ribbon {
    background-color: #eaeaea;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.coloured-navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}