{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>CodeStar Blog</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light coloured-ribbon">
        <div class="container-fluid">
            <div class="coloured-navbar-content">
                <a class="navbar-brand" href="{% url 'home' %}">Restaurant Name</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'menu' %}">Menu</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'booking' %}">Book a Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reservations_list' %}">My Reservations</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as {{ user }}</p>
        {% else %}
        <p class="text-end m-3">You are not logged in</p>
        {% endif %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 coloured-ribbon">
        <div class="container">
            <div class="row">
                <!-- Left Column: Address, Phone, Email -->
                <div class="col-md-4">
                    <h5>Contact Information</h5>
                    <p>123 Restaurant St.</p>
                    <p>City, Country</p>
                    <p>Phone: +123 456 789</p>
                    <p>Email: info@example.com</p>
                </div>
    
                <!-- Middle Column: Opening Time -->
                <div class="col-md-4 text-center">
                    <h5>Opening Hours</h5>
                    <p>Monday - Friday: 9 AM - 10 PM</p>
                    <p>Saturday - Sunday: 10 AM - 11 PM</p>
                </div>
    
                <!-- Right Column: Social Media Links -->
                <div class="col-md-4 text-end">
                    <h5>Connect With Us</h5>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i> Instagram</a>
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="https://github.com" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>