{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Restaurant</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/c355300088.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

</head>

<body class="d-flex flex-column h-100 main-bg background-pattern">

    <!-- Navigation -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: rgba(232, 247, 238, 0.9)">
        <div class="container-fluid">            
            <a href="{% url 'home' %}"><img src="{% static 'images/name_logo.png' %}" style="height: 40px;" alt="name-logo" aria-label="Go to the home page"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'menu' %}">Menu</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking' %}">Book a Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservations_list' %}">My Reservations</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>            
    </div>
    </nav>

    <main class="flex-shrink-0">
        <div class="content__container">
            {% if messages %}
                <div class="message-container" id="messages-notes">
                {% for message in messages %}
                <div class="message-container__message">
                    <p class="message-container__message--text">{{ message }}</p>
                </div>
                {% endfor %}
                </div>
            {% endif %} 
        </div>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3" style="background-color: rgba(232, 247, 238, 0.9)">
        <div class="container">
            <div class="row">
                <!-- Left Column: Address, Phone, Email -->
                <div class="col-md-4 text-center">
                    <h6><strong>Contact Information</strong></h6>
                    <p>123 Culinary Avenue, Dublin</p>
                    <p>Phone: +123 456 789</p>
                    <p>Email: info@soupa.com</p>
                </div>
    
                <!-- Middle Column: Opening Time -->
                <div class="col-md-4 text-center">
                    <h6><strong>Opening Hours</strong></h6>
                    <p>Monday - Sunday: </p>
                    <p>12.00am - 3.30pm</p>
                    <p>8pm - 10.30pm</p>
                </div>
    
                <!-- Right Column: Social Media Links -->
                <div class="col-md-4 text-center">
                    <h6><strong>Follow Us</strong></h6>
                    <div class="footer-icons">
                        <a href="https://github.com/Darioc18/PP4-restaurant-booking-system" target="_blank" class="fab fa-github-square"></a> 
                        <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-square"></a>                        
                        <a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram-square"></a>
                    </div>
                    <p>Creator: Dario Covella</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        // Function to display and hide alert messages.
        setTimeout(function () {
            let messagesDj = document.getElementById('messages-notes');
            if (messagesDj) {
            messagesDj.style.display = 'none';
        }
        }, 6000);
    </script>
</body>

</html>