{% extends "base.html" %}

{% block content %}

<section class="background-pattern">
    <div class="container">
        <div class="col-md-3 mx-auto mt-3">
            <h4 class="stroke">Edit Booking</h4>
            <form method="POST" class="form">
                
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.num_of_guests.id_for_label }}">{{ form.num_of_guests.label }}</label>
                    <br>
                    {{ form.num_of_guests }}
                </div>

                <p>For parties larger than 10 people, please contact the restaurant directly to make a reservation.</p>

                <div class="mb-3">
                    <label for="{{ form.date_of_booking.id_for_label }}">{{ form.date_of_booking.label }}</label>
                    <br>
                    {{ form.date_of_booking }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.time_of_booking.id_for_label }}">{{ form.time_of_booking.label }}</label>
                    <br>
                    {{ form.time_of_booking }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                    <br>
                    {{ form.notes }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>
                    <br>
                    {{ form.full_name }}
                </div>
        
                <div class="mb-3">
                    <label for="{{ form.nick_name.id_for_label }}">{{ form.nick_name.label }}</label>
                    <br>
                    {{ form.nick_name }}
                </div>

                <button type="submit" class="btn btn-success mb-3 btn-lg">Save Changes</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}