{% extends "base.html" %}

{% block content %}

<div class="container">
    <h4 class="stroke">My Bookings:</h4>
    <div class="row">
        {% for reservation in reservations %}
        <div class="col-md-5">
            <div class="card mb-5">
                <div class="card-body">
                    <h4 class='card-title text-center'>{{ reservation.full_name }}</h4>
                    <h6 class='card-title text-center'>{{ reservation.nick_name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ reservation.date_of_booking }} at {{ reservation.get_time_display }}</h6>
                    <div class='card-text'>
                        <p>Number of Guests: {{ reservation.num_of_guests }}</p>
                        <p>Notes: {{ reservation.notes }}</p>                                                     
                    </div>
                    <a href="/edit_reservation/{{reservation.id}}" class="btn btn-success">Edit</a>
                    <a href="/delete_reservation/{{reservation.id}}" class="btn btn-success">Delete</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}